/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Hide search page initially */
#sectionFavouritePlaces {
    display: none;
}

/* Home Section */
.bg-container {
    background-image: url("https://imgs.search.brave.com/hsXTjFddpmwkXKHHvuQEn5uBgd4l1Wo57mqcrXH_hHQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2LzI1LzkyLzMw/LzM2MF9GXzYyNTky/MzA0MF93TEpYU20z/T1R3Rjg0ZnFubFp3/Wk01NW1DVThrZlZS/WS5qcGc");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.tourism-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

/* Button */
.button {
    padding: 10px 20px;
    background-color: #25b1cc;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background-color: #198fa2;
}

/* Search Page */
.favourite-places-bg-container {
    background-image: url("https://images.pexels.com/photos/3769138/pexels-photo-3769138.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    padding: 40px;


}

.search-input {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 17px;
    margin-bottom: 20px;
}

/* Search Results */
.search-results {
    max-width: 800px;
    margin: auto;
}

.result-item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: left;
}

.result-title {
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.result-url {
    color: #006621;
    font-size: 14px;
    display: block;
    margin-top: 3px;
}

.link-description {
    color: #444;
    margin-top: 8px;
}

/* Highlight from Wikipedia snippet */
.searchmatch {
    font-weight: bold;
    color: black;
}